@font-face {
	font-family: 'RazerF5';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/RazerF5.eot');
	src: local('../fonts/RazerF5.eot'), url('../fonts/RazerF5.woff') format("woff"), url('../fonts/RazerF5.ttf') format("truetype"), url('../fonts/RazerF5.svg') format("svg");
}

body{
  font-family: 'RazerF5';
  font-size: 1em;
  margin: 0 auto;
}
ul,li{
  list-style: none;
  padding-left: 0;
}
a{
  text-decoration: none;
}
.nav-menu{
  width: 100%;
  background-color: #44d62c;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu{
    display: flex;
    > li{
        >a{
          height: 100%;
          color: #000;
          flex: 0 0 auto;
          background-repeat: no-repeat;
          padding: 16px 20px;
          text-align: center;
          font-family: RazerF5;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 21px;
          line-height: 16px;
          opacity: .3;
          will-change: opacity, background-color, color;
          transition: opacity .3s, background-color .3s, color, 0.1s;
        }
    }
  }
  .user{
    .avatar{
      margin: 8px 15px;
      height: 32px;
      width: 32px;
      background-color: #ddd;
      border-radius: 16px;
    }
  }
}
