body {
  font-family: 'RazerF5';
  font-size: 1em;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
div {
  box-sizing: border-box;
}
button {
  &:focus {
    outline: none;
  }
}
.nav-menu {
  width: 100%;
  background-color: #44d62c;
  position: relative;
  display: flex;
  justify-content: space-between;
  .menu {
    display: flex;
    margin: 0;
    > li {
      > a {
        color: #000;
        display: inline-block;
        padding: 16px 20px;
        text-align: center;
        font-family: RazerF5;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 21px;
        line-height: 16px;
        opacity: 0.3;
        will-change: opacity, background-color, color;
        transition: opacity 0.3s, background-color 0.3s, color, 0.1s;
      }
      &.active {
        a {
          opacity: 1;
        }
      }
    }
  }
  .user {
    .avatar {
      margin: 8px 15px;
      height: 32px;
      width: 32px;
      background-color: #ddd;
      border-radius: 16px;
    }
  }
}
.body-widgets {
  display: flex;
  > div {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-widget {
    margin-bottom: 20px;
  }
  .widget {
    flex: 0 0 auto;
    max-width: 600px;
    min-width: 600px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: #111;
    height: auto;
    padding: 30px 40px 10px;
    font-size: 14px;
    position: relative;
    color: #999999;
    .title {
      color: #44d62c;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .help {
      position: absolute;
      top: 15px;
      right: 15px;
      &::before {
        content: '';
        background: url(../img_ui/tooltip_questionmark.svg);
        display: inline-block;
        height: 14px;
        width: 14px;
        background-color: #6c6c6c;
        border-radius: 50%;
        will-change: background-color;
        transition: background-color 0.3s;
      }
      &:hover {
        .noice {
          opacity: 1;
          visibility: visible;
        }
      }
      .noice {
        position: absolute;
        top: 100%;
        min-width: 300px;
        right: 0;
        background-color: #000000;
        border: 1px solid #5d5d5d;
        font-size: 14px;
        color: #ccc;
        text-align: left;
        line-height: 16px;
        padding: 8px 10px;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        will-change: visibility, opacity;
        transition: visibility 0s, opacity 0.3s linear;
      }
    }
  }
}
